texHeaders.bin
*.zsync
builds.pbo
.vscode/
/bin/*

!addons/missions/fobs/*.sqm
release/*
*.cache
*.pbo
texHeaders.bin
*.swp
*.swo
*.biprivatekey
Thumbs.db

addons/missions/missions/*/*
!addons/missions/missions/*/*.sqm
!addons/missions/missions/*/medical/*
!addons/missions/missions/*/sprites/*
!addons/missions/missions/*/include/*
!addons/missions/missions/*/images/*
addons/missions/fobs/*/*
!addons/missions/fobs/*/*.sqm